<header>
	<nav class="navbar navbar-expand-lg navbar-light">
		<div class="container-fluid">
			<img src="assets/images/coweb.jpeg" style="padding-right: 10px" width="180" height="52">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="home" routerLink="home">HOME</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="rtpcr" routerLink="rtpcr">RT-PCR</a>
					</li>
					<li class="nav-item">
					<a class="nav-link" href="vaccination" routerLink="vaccination">VACCINATION</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="products" routerLink="products">PRODUCTS</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="information" routerLink="information">INFORMATION</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="signup" routerLink="signup">SIGN UP</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="login" routerLink="login">LOGIN</a>
					</li>
				</ul>
				<form class="d-flex">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form>
			</div>
		</div>
		<ul class="navbar-nav d-flex flex-row">
			<li class="nav-item me-3 me-lg-0">
				<a class="nav-link" href="products.html"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart-check-fill" viewBox="0 0 16 16">
					<path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z"/>
				</svg></a>
			</li>
			<li class="nav-item me-3 me-lg-0">
				<a class="nav-link" href="#">
					<i class="fab fa-twitter"></i>
				</a>
			</li>
		</ul>
	</nav>
</header>
<div class="container mb-5" style="width:500px; height:100%; background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);">
	<form action="/action_page.php" method="post">
		<h2 style="text-align:center; font-family: Arial, Helvetica, sans-serif; font-size: 30px;">Login with CoWeb-19</h2>
		<div class="container"style="padding-left: 25%; padding-right: 25%;">
			<label for="uname"><b>Username</b></label>
			<input type="text" placeholder="Enter Username" name="uname" required>
			<label for="psw"><b>Password</b></label>
			<input type="password" placeholder="Enter Password" name="psw" required>
			<div style="text-align: center;">
				<button type="button" class="btn btn-primary" style="width:50%;">LOGIN</button>
			</div>
		</div>
		<div>
		 <pre> <span>Forgot <a href="#">password?</a></span>                        <span><a href="signup.html">Create new account</a></span>
		</pre>
		</div>
	</form>
</div>
<footer class="footer-bs">
	<div class="row">
		<div class="col-md-3 footer-brand animated fadeInLeft">
			<h2>CoWeb-19</h2>
			<p>Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies. Curabitur vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque ex mi ut sem.</p>
			<p>© 2014 BS3 UI Kit, All rights reserved</p>
		</div>
		<div class="col-md-4 footer-nav animated fadeInUp">
			<div class="col-md-6">
				<ul class="pages">
					<li><a href="#">Home</a></li>
					<li><a href="#">RT-PCR</a></li>
					<li><a href="#">Vaccination</a></li>
					<li><a href="#">Products</a></li>
					<li><a href="#">Information</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-2 footer-social animated fadeInDown">
			<ul>
				<li><a href="#">Search</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Terms & Condition</a></li>
				<li><a href="#">Returns & Refund</a></li>
			</ul>
		</div>
		<div class="col-md-3">
			<h2>Newsletter</h2>
			<div class="row">
				<div class="col">
					<input type="text" class="form-control" placeholder="Enter Email" style="width:60%;">
					<button type="button" class="btn btn-primary">SIGN UP</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1">
					<i class="fa fa-cc-mastercard" style="font-size:30px;color:red"></i>
					<i class="fa fa-cc-paypal" style="font-size:30px;color:red"></i>
					<i class="fa fa-cc-visa" style="font-size:30px;color:red"></i>
				</div>
			</div>
		</div>
	</div>
</footer>
